.container {
    height: 100vh;
    padding: 5 rem;
    box-sizing: border-box;
}

.course {
    margin-bottom : 1rem ;
    transition : all 0.5 ;
}

.course:hover {
    transform: translateY(-10px) ;
}